* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
    font-family: Helvetica;
}

p {
    margin: 0px;
    font-family: Helvetica;
}

.row {
    width: 100%;
}

.col {
    float: left;
    border: 2px solid black;
    background-color: lightgrey;
    margin: 1.5%;
}

/* Large screen:
 *
 * 3 columns at one row
 * 3x 30% /per column
 * 6x  2% /per margin
 */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 30%;
    }
}

/* Medium screen:
 *
 * 2 columns at first row
 * 2x 47% /per column
 * 3x  2% /per margin
 *
 * 1 column at second row
 * 1x 97.0% /per column
 * 2x  1.5% /per margin
 */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 47%;
    }
    .col-md-12 {
        width: 97%;
    }
    .col-md-12 > p.text {
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-12 > p.name {
        position: relative;
        left: 76%;
        width: 24%;
    }
}

/*
 * section tiltes:
 * 50% left
 */
p.name {
    position: relative;
    left: 50%;
    width: 50%;
    border: 2px solid black;
    text-align: center;
    padding: 2px;
    font-size: 150%;
}
/*
 * section tiltes colors:
 */
.name.vege {
    background-color: lightgreen;
}
.name.gfree {
    background-color: lightblue;
}
.name.vines {
    background-color: lightcoral;
}

.text {
    padding: 2%;
}
